<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kykys.index.data.kykys.PostsModelMapper" >
  <resultMap id="BaseResultMap" type="cn.kykys.index.model.blog.PostsModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="like_count" property="likeCount" jdbcType="BIGINT" />
    <result column="view_count" property="viewCount" jdbcType="BIGINT" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.kykys.index.model.blog.PostsModel" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, summary, pic, like_count, view_count, weight, create_time, update_time,
    publish_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from posts
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from posts
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.kykys.index.model.blog.PostsModel" >
    insert into posts (id, title, summary, 
      pic, like_count, view_count,
      weight, create_time, update_time, 
      publish_time, content)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{likeCount,jdbcType=BIGINT}, #{viewCount,jdbcType=BIGINT},
      #{weight,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.kykys.index.model.blog.PostsModel" keyProperty="id" useGeneratedKeys="true">
    insert into posts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="likeCount != null" >
        like_count,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null" >
        #{likeCount,jdbcType=BIGINT},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.kykys.index.model.blog.PostsModel" >
    update posts
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="likeCount != null" >
        like_count = #{likeCount,jdbcType=BIGINT},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.kykys.index.model.blog.PostsModel" >
    update posts
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      like_count = #{likeCount,jdbcType=BIGINT},
      view_count = #{viewCount,jdbcType=BIGINT},
      weight = #{weight,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.kykys.index.model.blog.PostsModel" >
    update posts
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      like_count = #{likeCount,jdbcType=BIGINT},
      view_count = #{viewCount,jdbcType=BIGINT},
      weight = #{weight,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      publish_time = #{publishTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectByPage" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from posts
   <where>

   </where>
    ORDER BY weight DESC ,update_time DESC ,create_time DESC
    <if test="offset != null and limit != null">
      limit #{offset},#{limit}
    </if>
  </select>
  <select id="count" parameterType="Map" resultType="int">
    select
      count(1)
    from posts
    <where>

    </where>
  </select>


  <select id="searchByPage" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from posts
    <where>
      <if test="word != null">
        AND title like CONCAT('%',#{word},'%') OR content like CONCAT('%',#{word},'%')
      </if>
    </where>
      ORDER BY weight DESC ,update_time DESC ,create_time DESC
    <if test="offset != null and limit != null">
      limit #{offset},#{limit}
    </if>
  </select>
  <select id="searchCount" parameterType="Map" resultType="int">
    select
    count(1)
    from posts
    <where>
      <if test="word != null">
        AND title like CONCAT('%',#{word},'%') OR content like CONCAT('%',#{word},'%')
      </if>
    </where>
  </select>



  <select id="selectByTag" parameterType="Map" resultMap="BaseResultMap">
    select
    p.*
    from posts p LEFT JOIN r_post_tag r ON r.post_id = p.id
    <where>
      <if test="tagId != null">
       AND r.tag_id = #{tagId}
      </if>
    </where>
    ORDER BY p.weight DESC ,p.update_time DESC ,p.create_time DESC
    <if test="offset != null and limit != null">
      limit #{offset},#{limit}
    </if>
  </select>

    <select id="selectByTagCount" parameterType="java.util.Map" resultType="int">
        select
        COUNT(1)
        from posts p LEFT JOIN r_post_tag r ON r.post_id = p.id
        <where>
            <if test="tagId != null">
                AND r.tag_id = #{tagId}
            </if>
        </where>
    </select>
  
</mapper>