<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kykys.index.data.kykys.RBookTagModelMapper" >
  <resultMap id="BaseResultMap" type="cn.kykys.index.model.blog.RBookTagModelKey" >
    <id column="tag_id" property="tagId" jdbcType="BIGINT" />
    <id column="book_id" property="bookId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="cn.kykys.index.model.blog.RBookTagModelKey" >
    delete from r_book_tag
    where tag_id = #{tagId,jdbcType=BIGINT}
      and book_id = #{bookId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.kykys.index.model.blog.RBookTagModelKey" >
    insert into r_book_tag (tag_id, book_id)
    values (#{tagId,jdbcType=BIGINT}, #{bookId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.kykys.index.model.blog.RBookTagModelKey" >
    insert into r_book_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>


  <select id="selectTagidByBookid" parameterType="java.lang.Long" resultType="java.lang.Long">
       SELECT tag_id FROM r_book_tag r WHERE r.`book_id` = #{id}
    </select>
</mapper>