<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kykys.index.data.kykys.RPostTagModelMapper" >
  <resultMap id="BaseResultMap" type="cn.kykys.index.model.blog.RPostTagModelKey" >
    <id column="post_id" property="postId" jdbcType="BIGINT" />
    <id column="tag_id" property="tagId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="cn.kykys.index.model.blog.RPostTagModelKey" >
    delete from r_post_tag
    where post_id = #{postId,jdbcType=BIGINT}
      and tag_id = #{tagId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.kykys.index.model.blog.RPostTagModelKey" >
    insert into r_post_tag (post_id, tag_id)
    values (#{postId,jdbcType=BIGINT}, #{tagId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.kykys.index.model.blog.RPostTagModelKey" >
    insert into r_post_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        post_id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>



    <select id="selectTagidByPostid" parameterType="java.lang.Long" resultType="java.lang.Long">
       SELECT tag_id FROM r_post_tag r WHERE r.`post_id` = #{id}
    </select>

    <delete id="deleteByPostid" parameterType="java.lang.Long">
        delete from r_post_tag where post_id =#{postid}
    </delete>

</mapper>