<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kykys.index.data.wechat.DramaPlayModelMapper" >
  <resultMap id="BaseResultMap" type="cn.kykys.index.model.wechat.DramaPlayModelKey" >
    <id column="drama_id" property="dramaId" jdbcType="INTEGER" />
    <id column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <id column="people_id" property="peopleId" jdbcType="INTEGER" />
    <id column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="cn.kykys.index.model.wechat.DramaPlayModelKey" >
    delete from drama_play
    where drama_id = #{dramaId,jdbcType=INTEGER}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and people_id = #{peopleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.kykys.index.model.wechat.DramaPlayModelKey" >
    insert into drama_play (drama_id, node_id, people_id, status
      )
    values (#{dramaId,jdbcType=INTEGER}, #{nodeId,jdbcType=VARCHAR}, #{peopleId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.kykys.index.model.wechat.DramaPlayModelKey" >
    insert into drama_play
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dramaId != null" >
        drama_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="peopleId != null" >
        people_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dramaId != null" >
        #{dramaId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="peopleId != null" >
        #{peopleId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>



    <select id="select" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from drama_play
        <where>
            <if test="peopleId != null">
                and people_id = #{peopleId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="dramaId != null">
                and drama_id = #{dramaId}
            </if>
        </where>
    </select>

    <update id="updateStatus" parameterType="cn.kykys.index.model.wechat.DramaPlayModelKey">
         UPDATE drama_play
         set status = #{status}
        where
        drama_id = #{dramaId,jdbcType=INTEGER}
          and people_id = #{peopleId,jdbcType=INTEGER}
    </update>

</mapper>